<body class="peopleindex-body">
  <%# <h1 class="peopleindex-page-title">Potential People of Interest</h1> %>
  <div class="peopleindex-container">
    <%= render partial: 'people/people', locals: {people: @people, document: @document} %>
</body>
