<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <p>Copyright © 2024 Privacy Search</p>
    </div>
    <ul class="footer-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
