 <body class="home-page">
        <h1>Test the privacy of your document</h1>
        <div class="form-container">
            <%= simple_form_for @document do |f| %>
                <%= f.input :file_name, label: "File Name" %>
                <%= f.input :file, as: :file, label: "Upload File" %>
                <%= f.button :submit, "Submit", class: "submit-button" %>
            <% end %>
        </div>
 </body>
