 <div class="home-page">
  <%# <div id="particles-js"></div> %>
        <h1>Test the privacy of your document</h1>
        <div class="form-container">
            <%= simple_form_for @document do |f| %>
                <%= f.input :file_name, label: "File Name" %>
                <%= f.input :file, as: :file, label: "Upload the file for re-identification" %>
                <%= f.button :submit, "Find people", class: "submit-button" %>
            <% end %>
        </div>

<div id="particles-js"></div>
 </div>


  <!-- Initialize the particles effect -->
  <script>
      particlesJS.load('particles-js', '/particles.json', function() {
        console.log('callback - particles.js config loaded');
      });
  </script>
