


  <!-- Container for the particles effect -->
  <div id="particles-js"></div>


  <!-- Initialize the particles effect -->
  <script>
      particlesJS.load('particles-js', '/particles.json', function() {
        console.log('callback - particles.js config loaded');
      });
  </script>
