.footer-container {
  display: flex;
  justify-content: space-between;
  background: #0b233a;
  padding: 1rem 1rem;
  height: 50px;
}

.footer-logo {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  color: white;
}

.footer-logo img {
  max-height: 40px;
  width: auto;
  height: auto;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin-top: 6px;
}

.footer-nav li {
  margin-right: 20px;
  text-align: center;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 5px;
}

.footer-nav li a:hover {
  color: #007bff;
}
