.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b233a;
  padding: 1rem 0;
  height: 60px;

  .navbar-brand img {
    max-height: 40px;
    height: auto;
    width: auto;
    padding-left: 0%;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}
